<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Администратор | Конференции.РФ</title>
  <link rel="icon" href="/img/logo.jpg">

  <link rel="stylesheet" href="/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>


  <header class="header">
    <div class="container header-inner">
      <a class="logo" href="/admin"><img src="/img/logo.jpg" alt="" width="30" height="30">Конференции<span>.РФ</span></a>
      <nav class="nav">
        <span>Администратор</span>
        <a href="/logout">Выйти</a>
      </nav>
    </div>
  </header>


  <main class="container page">
    <h1>Все заявки</h1>


    <div class="filter">
      <select class="form-select" id="status-filter">
        <option value="">Все статусы</option>
        <option>Новая</option>
        <option>Мероприятие назначено</option>
        <option>Завершено</option>
      </select>
      <input class="form-control" id="search" placeholder="Поиск по ФИО или логину">
    </div>
    <p class="count" id="count"></p>


    <div class="row g-4" id="applications"></div>
  </main>


  <script src="/js/common.js"></script>
  <script src="/js/admin.js"></script>
</body>
</html>
