<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Мои заявки | Конференции.РФ</title>
  <link rel="icon" href="/img/logo.jpg">

  <link rel="stylesheet" href="/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>


  <header class="header">
    <div class="container header-inner">
      <a class="logo" href="/cabinet"><img src="/img/logo.jpg" alt="" width="30" height="30">Конференции<span>.РФ</span></a>
      <nav class="nav">
        <a href="/create">Новая заявка</a>
        <a href="/logout">Выйти</a>
      </nav>
    </div>
  </header>


  <main class="container page">
    <h1>Мои заявки</h1>
    <p class="lead">Статус каждой заявки. Отзыв можно оставить после мероприятия</p>


    <div class="row g-4" id="applications"></div>
  </main>


  <script src="/js/common.js"></script>
  <script src="/js/cabinet.js"></script>
</body>
</html>
