<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Регистрация | Конференции.РФ</title>
  <link rel="icon" href="/img/logo.jpg">

  <link rel="stylesheet" href="/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>


  <header class="header">
    <div class="container header-inner">
      <a class="logo" href="/login"><img src="/img/logo.jpg" alt="" width="30" height="30">Конференции<span>.РФ</span></a>
    </div>
  </header>


  <main class="container page page-narrow">
    <h1>Регистрация</h1>
    <p class="lead">Все поля обязательны</p>

    <form id="register-form" novalidate>
      <div class="field">
        <label for="login">Логин</label>
        <input class="form-control" id="login" name="login" placeholder="латиница и цифры, от 6 символов">
        <div class="error error-login"></div>
      </div>
      <div class="field">
        <label for="password">Пароль</label>
        <input class="form-control" id="password" name="password" type="password" placeholder="от 8 символов">
        <div class="error error-password"></div>
      </div>
      <div class="field">
        <label for="fio">ФИО</label>
        <input class="form-control" id="fio" name="fio" placeholder="Иванов Иван Иванович">
        <div class="error error-fio"></div>
      </div>
      <div class="field">
        <label for="phone">Телефон</label>
        <input class="form-control" id="phone" name="phone" type="tel" placeholder="8(912)345-67-89">
        <div class="error error-phone"></div>
      </div>
      <div class="field">
        <label for="email">Электронная почта</label>
        <input class="form-control" id="email" name="email" type="email" placeholder="name@mail.ru">
        <div class="error error-email"></div>
      </div>
      <button class="btn-main" type="submit">Зарегистрироваться</button>
    </form>

    <p class="switch"><a href="/login">Уже зарегистрированы? Войти</a></p>
  </main>


  <script src="/js/common.js"></script>
  <script src="/js/register.js"></script>
</body>
</html>
